PORT=3000
ORIGEM_FRONTEND=http://localhost:5173

DATABASE_URL="postgresql://multiplan_admin:mult%21pl4n%40321@localhost:5433/multiplan_flash?schema=public"

BANCO_HOST=localhost
BANCO_PORTA=5433
BANCO_NOME=multiplan_flash
BANCO_USUARIO=multiplan_admin
BANCO_SENHA=mult!pl4n@321
JWT_SECRET=multiplan_flash_jwt_secret
JWT_EXPIRES_IN=1d
